<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <img class="logo" src="/uploads/logo.jpg" alt="logo">
    </div>
    </div>
    <span>
      <br>
    </span>
    <br>

<div class="Absolute-Center">
  <div>
    <br>  
        <div class="col-xs-12 col-sm-4 col-sm-offset-4m">
          <form action="/auth/fb" method="POST" class="oauth-login">
            <div class="form-actions">
              <button type="submit" class="btn btn-block btn-primary">
                <i class="fa fa-facebook"></i> Login with Facebook</button>
            </div>
           </form>
<br>
          <form action="/auth/google" method="POST" class="oauth-login">
            <div class="form-actions">
              <button type="submit" class="btn btn-block btn-danger">
                <i class="fa fa-google"></i> Login with Google</button>
            </div>
          </form>
      </div>
    </div>
</div>
