body {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.heartless{
  max-width: 100%;
  height: auto;
}
.fridge{
max-width: 200%;
height: auto;
}
.navrow{
  background-color: white;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
  height: 55px;
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
height: 75px;
}
.stylish-input-group button{
  border:0;
  background:transparent;

}

.searchbar {
  padding-bottom: 20px;
}

.logo {
  padding-left: 10%;
  width: 90%;
}

.logo2 {
  padding-left: 10%;
  width: 40%;
}

.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: 
  #6b29e2;}

.panel{
  background-color: darkgray;
  position: fixed;
}
.profile-pic{
border-radius: 50%;
height:150px;
}


.horiz-btn{
flex-direction:row;
justify-content: space-around;
padding-left: 7%;
}

.centered{
padding-left: 7%;
justify-content: center;
}
.profile{
  overflow: hidden;
  flex-direction:row;
  justify-content: center;
  padding-bottom: 100%;
}

.main-square{
  display: flex;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 40%; left: 40%; bottom: 0; right: 0;
}

body {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  color:#555;
  margin:0 auto;
  padding:0 20px;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.clearfix {
  clear:both;
}

.text-center {text-align:center;}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
border: 1px solid #CCC;
border-radius: 4px;
}

.header {
  padding:20px 0;
  position:relative;
  margin-bottom:10px;
  
}

.header:after {
  content:"";
  display:block;
  height:1px;
  background:#eee;
  position:absolute; 
  left:30%; right:30%;
}

.header h2 {
  font-size:3em;
  font-weight:300;
  margin-bottom:0.2em;
}

.header p {
  font-size:14px;
}



#a-footer {
  margin: 20px 0;
}

.new-react-version {
  padding: 20px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}





.success-box {
  margin:50px 0;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
}

.success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}



/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/* Rating Star Widgets Style */
.rating-star2 ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star2 {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star2 > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star2.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star2.selected > i.fa {
  color:#FF912C;
}
.title-fav{
  display: flex;
}
.heart{
  border: 0;
  position: relative;
  width: 100px;
  height: 90px;
  float: left;
}

.heart:before,
.heart:after{
  position: absolute;
  content: "";
  top: 0;
  width: 25px;
  height: 40px;
  background: grey;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.heart:after{
  margin-left: 10px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}
.heart:hover::after, .heart:hover::before{
    background: #fc2e5a;
}
.heart.selected:after, .heart.selected:before {
  background: #fc2e5a;
}
.heart.selected:hover::after, .heart.selected:hover::before {
  background: grey;
}

#hidden{
  visibility: hidden
}
