body {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navrow{
  background-color: white;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
  height: 55px;
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
height: 75px;
}
.stylish-input-group button{
  border:0;
  background:transparent;

}

.searchbar {
  padding-bottom: 20px;
}

.logo {
  padding-left: 10%;
  width: 90%;
}
.star-rating {
  line-height:32px;
  font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}
