<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    <img class="logo" src="/uploads/logo.jpg" alt="logo">
</div>
</div>
<div class="container">
        <div class="row searchbar">
            <div class="col-sm-6 col-sm-offset-3">
                    <form action="/search" method="post">
                        <div id="imaginary_container"> 
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control"  placeholder="What's in your fridge?" >
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>  
                                    </span>
                                </div>
                            </div>
                    </form>
            </div>
        </div>
</div>
<br>
<% if(typeof(recipes) != 'undefined' && recipes.length > 0) { %>
<div class="row">
    <div id="products" class="row list-group">
        <% recipes.forEach(recipe => {%>
        <div class="item  col-xs-3 col-lg-3">
            <div class="thumbnail">
                <% if( recipe.imgs.length ){%>
                <img class="group list-group-image" src="<%= recipe.imgs%>" alt="" />
                <% } else { %>
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <% } %>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= recipe.name %></h4>
                        <p class="group inner list-group-item-text">
                            <% recipe.ingredients.forEach(ingredient => { %>
                                  <%= ingredient.ingredient %>  
                            <% }); %>
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <p class="lead">
                                <%= recipe.author %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>      
<% } %>
