<% if(typeof(recipes) != 'undefined') { %>
    <% recipes.forEach(recipe => {%>
    <div>
        Name: <%= recipe.name %>
    </div>
    <div>
        Description: <%= recipe.description %>
    </div>
    <div>
            Ingredients: 
    </div>
    <% recipe.ingredients.forEach(ingredient => { %>
    <div>
        <%= ingredient.ingredient.name %>
    </div>
    <% }); %>
    <% }); %>
<% } %>
